$themeColor:#00a0e9;
$default:#ececec;
$width:300px;
$slectColor:#aee6ff;
$border:#E4E4E4;
$borderWidth:1px;
$borederRadius:4px;
$hover:$themeColor;

.s-inp{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}