$themeColor:#00a0e9;
$default:#ececec;
$width:300px;
$slectColor:#aee6ff;
$border:#E4E4E4;
$borderWidth:1px;
$borederRadius:4px;
$hover:$themeColor;

.g-tree-search{
	display: flex;
	justify-content: space-between;	
 	height: 30px;

	.j-search{
		
	}
	.j-search-close{
	  position: absolute;
	  display: none;
	  right: 5px;
	  top:8px;
	  cursor: pointer;
	}
	.search-inp{
		padding-left:1em;
		padding-right:1.5em;
	}
	.m-inp{
		flex: auto;
		position: relative;
	}


}

.m-tree{
	line-height: 1.5;
  .tree-indent{
  	width: 1em;
  	display: inline-block;
  }
  .treeItem{
  	cursor: pointer;
  }
	.has-check{
		&:before{
			content:"*";
			//position: absolute;
		}
	}
	.menu-hide{
		.j-slide-icon{
			&:before{
				content:"\e903";
			}
		}
	}

	.treeItem.node-select{
		background: $slectColor;
	}
 
}