$icomoon-font-family: "sekin-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-checkmark2: "\e9aa";
$icon-cancel1: "\e9ac";
$icon-calendar2: "\e9fc";
$icon-checkmark: "\e922";
$icon-close: "\e923";
$icon-calendar: "\e93d";
$icon-date-add: "\e93e";
$icon-folder-minus: "\e902";
$icon-folder-plus: "\e903";
$icon-minus-square: "\e900";
$icon-plus-square: "\e901";
$icon-folder-o: "\f114";
$icon-folder-open-o: "\f115";
$icon-calendar-check-o: "\f274";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";

